
.PokemonStorage {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 80%, 0.5);
    box-sizing: border-box;
    flex-grow: 1;
}

.PokemonStorage-pageselect {
    margin: 20px 0 10px 0;
    display: flex;
    align-items: center;
}

.PokemonStorage-pageselect > button{
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    border-width: 5px;
}

.PokemonStorage-page {
    --cell-size: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    box-sizing: content-box;
    flex-grow: 0;
    min-width: calc(100vw / 3);
}

.PokemonStorage-toggle {
    font-size: 2rem;
    padding: 1em 0 0;
    display: none;
}

.PokemonStorage-evolvebutton {
    border-width: 5px;
    border-color: #efefef;
    border-radius: 5px;
}

@media (max-width: 720px) {
    .PokemonStorage {
        height: unset;
    }
}

.PokemonSprite:after {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-color: rgba(40, 40, 40, 0.3);
    border-radius: 9999px;
    filter: blur(1px);
    transform: scaleY(0.7) scaleX(1.5);
    margin-bottom: -7px;
    margin-top: -13px;
    margin-left: calc(50% - 10px);
}

.PokemonSprite-thumbnail {
    width: 64px;
    height: 64px;
    max-width: calc(100vw / 8 / 3);
    max-height: calc(100vw / 8 / 3);
    transform: scale(1.5);
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    display: block;
    margin: 0;
}

.PokemonSprite.selected {
    outline: 3px solid rgba(255, 255, 128, 0.5);
}

@media (max-width: 720px) {
    .PokemonSprite-thumbnail {
        max-width: calc((100vw - 60px) / 8);
        max-height: calc((100vw - 60px) / 8);
    }
}

.PokemonSprite-popup {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    width: 220px;
    height: calc(16 * 220px / 9);
    margin-right: -220px;
    margin-bottom: calc(-16 * 220px / 9 - 21px);
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
}

.PokemonSprite-pokemon {
    background-image: var(--sprite);
    background-size: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
    height: 100%;
}

.PokemonSprite-popup::before {
    content: '';
    display: block;
    width: 100%;
    background-color: white;
    height: 100%;
    position: absolute;
    background-image: var(--sprite);
    z-index: -1;
    background-position: center;
    filter: blur(28px);
    opacity: 0.5;
    background-size: cover;
}

.PokemonSprite:hover .PokemonSprite-popup {
    display: block;
}


.PokemonShowcase-sprite {
    --startx: 120%;
    --starty: 120%;
    --targetx: 200px;
    --targety: 50px;
    position: fixed;
    left: var(--x);
    top: var(--y);
    animation: PokemonShowcase-weee 2s ease-in-out 1 forwards;
    animation-delay: var(--delay);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    z-index: 1;
}
@media (max-width: 720px){
    .PokemonShowcase-sprite {
        --targety: -100px;
    }
}

@keyframes PokemonShowcase-weee {
    0% {
        left: var(--startx);
        top: var(--starty);
        transform: scale(1);
    }
    35% {
        left: var(--midx);
        top: var(--midy);
        transform: scale(3);
    }
    50% {
        left: var(--midx);
        top: var(--midy);
        transform: scale(3.5);
    }
    65% {
        left: var(--midx);
        top: var(--midy);
        transform: scale(3);
    }
    100% {
        left: var(--targetx);
        top: var(--targety);
        transform: scale(1);
    }
}