.Clicking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    background-size: cover;
}

.PokeDollars {
    font-size: 1.55rem;
    text-align: center;
    border: 5px solid black;
    background-color: hsla(0, 0%, 75%, 0.5);
    margin: 1.55em;
    padding: 15px;
}

.PokeDollars > p {
    margin: 0;
}
