.Clicking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
    background-size: cover;
}

.PokeDollars {
    font-size: 1.55rem;
    text-align: center;
    border: 5px solid black;
    background-color: hsla(0, 0%, 75%, 0.5);
    margin: 1.55em;
    padding: 15px;
}

.PokeDollars > p {
    margin: 0;
}

@keyframes shake {
  0% { transform: translate(2px, 2px) rotate(0deg); }
  20% { transform: translate(-2px, -4px) rotate(-2deg); }
  40% { transform: translate(-6px, 0px) rotate(2deg); }
  60% { transform: translate(6px, 4px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(2deg); }
  50% { transform: translate(-2px, 4px) rotate(-2deg); }
  60% { transform: translate(-6px, 2px) rotate(0deg); }
  70% { transform: translate(6px, 2px) rotate(-2deg); }
  80% { transform: translate(-2px, -2px) rotate(2deg); }
  90% { transform: translate(2px, 4px) rotate(0deg); }
  200% { transform: translate(2px, -4px) rotate(-2deg); }
}

.ShakingBall {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}