.UserMenu {
    position: fixed;
    right: 0;
    background-color: #cfdfef;
    z-index: 1;
}


.UserMenu-userdetails{
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
    border: 5px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

.UserMenu .UserMenu-userdetails::after{
    content: '▼';
    display: inline-block;
    vertical-align: middle;
    width: 50px;
}


.UserMenu-avatar {
    width: 40px;
    height: 40px;
    object-fit: contain;
    vertical-align: middle;
}

.UserMenu-actions {
    margin: 0;
    list-style: none;
    padding: 0;
}

.UserMenu.closed > .UserMenu-actions  {
    display: none;
}

.UserMenu-actions > li {
    padding: 10px;
    cursor: pointer;
}
